<mat-card>
  <mat-card-header>
    <mat-card-title>About Me</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      I am a Father to 3 boys and 2 girls ages 23, 12, 6, 2 and the newest is 4
      months. I married the most beautiful woman in the world 13 years ago. I
      have been a stay at home Dad for the last 5 years while homeschooling my
      children and completing my Bachelor Degree in Software Development. I was
      saved in 2012 when Jesus came into my life.
    </p>

    <p>
      I am eager to get back to work so that my wife will be able to transition
      to stay at home mom. Finding remote employment would be ideal as I would
      still be able to be there when my children need Daddy.
    </p>

    <p>
      I love working with computers, learning, working/playing with different
      programming/scripting languages. I have used Linux since 2004.
    </p>

    <p>
      I earned certificates in C++ Programming, Visual C# Programming and
      Software Development during my degree path.
    </p>

    <p>I completed courses (and earned A's) in:</p>
    <ul>
      <li>Linux/ Unix Programming</li>
      <li>C++ Programming</li>
      <li>C# Programming</li>
      <li>Java Programming</li>
      <li>Python Programming</li>
      <li>Web Development</li>
      <li>Algorithms and Data Structures</li>
      <li>Enterprise Relational Databases</li>
    </ul>

    <p>
      I have been playing with Go(lang) lately and am becoming quite fond of the
      language. I also earned the Golang badge on Linkedin. I wrote an
      authentication system with net/rpc, running the service and http API in
      separate containers along with a PostgreSQL database. I also created a
      Kuernetes cluster locally with minikube to test. You can see this project
      at
      <a href="https://github.com/rs401/lg" target="_blank"
        >https://github.com/rs401/lg</a
      >.
    </p>
    <p>
      I am also working on a project that I had an idea for and chose to use it
      as a way to learn more about Go, gRPC, PostgreSQL and Kubernetes. This is
      a work in progress but you can see my code here
      <a href="https://github.com/rs401/letsgorip" target="_blank"
        >https://github.com/rs401/letsgorip</a
      >. I also have this system setup and running in GKE Google Kubernetes
      Engine. A live demo can be seen at
      <a href="https://www.letsgo.rip/" target="_blank"
        >https://www.letsgo.rip/</a
      >.
    </p>
  </mat-card-content>
</mat-card>
