<mat-card>
    <mat-card-header>
        <mat-card-title>About Me</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>I am a Father to 3 boys and 2 girls ages 23, 12, 6, 2 and the newest is 4 months. I married the most beautiful woman in the world 13 years ago. I have been a stay at home Dad for the last 5 years while homeschooling my children and completing my Bachelor Degree in Software Development. I was saved in 2012 when Jesus came into my life.</p>
    
        <p>I hope to find employment in a fully remote capacity so that I can still be home with my children and allow my wife to transition to stay at home Mom.</p>
    
        <p>I love working with computers, learning, dabbling in different programming/scripting languages. I have used Linux since 2004.</p>
    
        <p>I earned certificates in C++ Programming, Visual C# Programming and Software Development during my degree path.</p>
    
        <p>I completed courses (and earned A's) in:</p>
        <ul>
            <li>Linux/ Unix Programming</li>
            <li>C++ Programming</li>
            <li>C# Programming</li>
            <li>Java Programming</li>
            <li>Python Programming</li>
            <li>Web Development</li>
            <li>Algorithms and Data Structures</li>
            <li>Enterprise Relational Databases</li>
        </ul>
    
        <p>I have been playing with Go(lang) lately and am becoming quite fond of it. I also earned the Golang badge on Linkedin.</p>
    </mat-card-content>
</mat-card>