<mat-card class="header">
  <mat-card-header>
    <mat-card-title>Rich Stadnick</mat-card-title>
    <mat-card-subtitle>Father Husband Christian Nerd</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="profile-img">
      <img src="assets/img/profile.jpg" alt="Rich Stadnick" />
    </div>
    <a href="https://github.com/rs401/" target="_blank">
      <button mat-icon-button aria-label="Github button">
        <mat-icon svgIcon="github"></mat-icon>
      </button>
    </a>
    <a
      href="https://www.linkedin.com/in/richard-stadnick-3b4ab53b/"
      target="_blank"
    >
      <button mat-icon-button class="example-icon" aria-label="Linkedin button">
        <mat-icon svgIcon="linkedin"></mat-icon>
      </button>
    </a>
  </mat-card-content>
</mat-card>
