<!-- Toolbar -->
<mat-toolbar color="primary" class="position-fixed">
  <button mat-icon-button aria-label="Menu" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button routerLink="/" mat-menu-item>Home</button>
    <button routerLink="/blog" mat-menu-item>Blog</button>
  </mat-menu>
  <span routerLink="/">RS401</span>
  <span class="spacer"></span>
  <a href="https://github.com/rs401/" target="_blank">
    <button mat-icon-button aria-label="Github button">
        <mat-icon svgIcon="github"></mat-icon>
    </button>
  </a>
  <a href="https://www.linkedin.com/in/richard-stadnick-3b4ab53b/" target="_blank">
    <button mat-icon-button class="example-icon" aria-label="Linkedin button">
        <mat-icon svgIcon="linkedin"></mat-icon>
    </button>
  </a>
</mat-toolbar>
<!-- END Toolbar -->

<!-- content -->
<div class="container">
    <router-outlet></router-outlet>
</div>
